/* ELEMENT DEFAULTS */

html, body, form, div, p,
h1, h2, h3, h4, h5, h6,
object, embed {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}


html {
	height:100%;
}

body {
	height:100%;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	font-family: arial, swiss, helvetica, arial;
	font-size: 0.85em;
    color:#606060;
	background: #65757C;
}

textarea {
	border: 1px solid #b7c8dc;
	padding: 0px;
	padding-left: 2px;
	margin: 0px;
	font-family: arial, swiss, helvetica, arial;
	font-size: 1.0em;
	color:#606060;
}

img {
	border:none;
}

a,
a:link,
a:visited {
	text-decoration:none;
}

a:active,
a:hover {
	text-decoration:underline;
		 cursor: hand;
    	 cursor: pointer
}

h1 {
	color:#FF3000;
	font-family: Arial, swiss, helvetica, arial;
	font-size:43px;
	padding:0px 0px 0px 0px;
}

h2,h3,h4 {
	font-family: Arial, swiss, helvetica, arial;
	font-weight: normal;
	margin:0px 0px 5px 0px;
}

h2 {
	font-size: 1.9em;
}

h3 {
	font-family: Arial, swiss, helvetica, arial;
	font-size: 1.5em;
}

h4 {
	font-family: Arial, swiss, helvetica, arial;
	font-size: 1.2em;
}

hr {
	border:none;
	border-top:1px solid #65757C;
	height:1px;
	margin:15px 0px 15px 0px;
}

.logo {

	margin-top: 8px;
	margin-bottom: 6px;
	margin-left: 19px;
	margin-right: 11px;
	padding: 0px;
	height: 32px;
	width: 32px;
	background: white url('../img/ijsberg.gif');
	float: left;
}

.progress_bar_outer {
	background-color: white;
	border: 1px solid #ccc;
	height: 24px;
	width: 324px;
	padding: 0px;
}

.progress_bar_inner {
	background-color: #bbf;
	height: 24px;
	margin:0px;
	padding: 0px;
	width: 150px;
	float: left;
	text-align: center;
	color: #33f;
}

.progress_bar_text {
	position: absolute;
	height: 24px;
	margin: 0px;
	padding: 0px;
	width: 324px;
	text-align: center;
	color: #55a;
	font-weight: bold;
}

.upload_frame {
   /* float: left;*/
    width: 400px;
    border: 1px solid #CCCCCC;
    overflow: hidden;
}

.upload_form {
   /* float: left;*/
    width: 368px;
    padding: 15px;
}


.contact {
   /* float: left;*/
    width: 300px;
    padding: 5px;
}

.contact .form_line_message {
   float: left;
   width: 300px;
   color: blue;

}

.upload_form .form_line {
   float: left;
   width: 368px;

}

.upload_form textarea {
    width: 368px;
}









